/* Profile */
.profile__edit-button {
  margin: 0;
  padding: 0;
  width: 24px;
  height: 24px;
  background-color: #000;
  background-image: url(../../../images/profile/__edit-button/profile-edit-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px 10px;
  border: 1px solid #fff;
}

@media screen and (max-width: 540px) {
  .profile__edit-button {
    margin: 0 auto;
    width: 18px;
    height: 18px;
    background-size: 7.5px 7.5px;
  }
}