/* Popup */
.popup__container {
  margin: 0 auto;
  padding: 0;
  width: calc(430px + 8px + 32px);
  height: calc(330px + 8px + 32px);
  position: absolute;
  top: calc(50% - calc(330px + 8px + 32px) / 2);
  left: calc(50% - 430px / 2);
  display: grid;
  grid-template: calc(8px + 32px) 330px / calc(430px + 8px + 32px);
}

@media screen and (max-width: 540px) {
  .popup__container {
    width: 282px;
    height: calc(322px + 16px + 20px);
    top: calc(50% - calc(322px + 16px + 20px) / 2);
    left: calc(50% - 282px / 2);
    grid-template: calc(16px + 20px) 322px / 282px;
  }
}