/* Element */
.element__button {
  margin: 0;
  padding: 0;
  width: 22px;
  height: 19px;
  border: none;
  background-color: #fff;
  background-image: url(../../../images/element/__button/element-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px 19px;
}