/* Header */
.header__box {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

@media screen and (max-width: 899px) {
  .header__box {
    width: 95%;
  }
}

@media screen and (max-width: 720px) {
  .header__box {
    width: 88%;
  }
}